#headerHome{
  background-color: rgb(92, 173, 88);
  border: 3px solid black;
}
#Cerrar{
  display: none;
}
.navbar-link {
    background-color: rgb(241, 240, 240);
    height: 50px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .navbar-link:hover {
    transform: scale(1.2);
    background-color: rgb(98, 237, 98);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1;
  }
  
  .navbar-link a {
    color: black;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .navbar-link:hover a {
    color: white;
  }
  
  .navbar-link a:hover {
    text-decoration: none;
  }
  
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }

.pagination-container {
    display: flex;
    justify-content: center;
  }

  footer {
    width: 101%;
    background-color: black;
    padding: 7px;
    position: absolute;
  }

  .card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
  }

  .mdb {
    float: right;
    margin: 3px;
  }

  .pag2{
    display: none;
  }

  .pag3{
    display: none;
  }

  .sidebar {
    position: absolute;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 999; /* Ajusta este valor según sea necesario */
  }

  .content {
  margin-left: 200px;
  /* Ajustado para que el contenido principal esté al lado de la barra lateral */
  transition: margin-left 0.3s ease;
  }


  